/* ====== Common Styles ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ========= /Common Styles ============== */

/* ============ Header Styles =========== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-span {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}
.address-link {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
  color: #404bbf;
}

@media only screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .nav-menu,
  .address-menu {
    display: none;
  }
  .burger-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
  }
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-page {
    display: flex;
    align-items: center;
    width: 496px;
    justify-content: space-between;
  }
  .nav-menu {
    display: flex;
    gap: 40px;
  }
  .address-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .studio:active::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    margin-top: 20px;
    position: absolute;
  }
}
@media only screen and (min-width: 1158px) {
  .nav-page {
    width: 452px;
  }
  .address-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px;
  }
  .address-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* ============ /Header Styles =========== */

/* ========== Mobile Menu Styles ========== */
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile-container {
    position: relative;
  }
  .mobile-menu-close-btn {
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    fill: #2e2f42;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 16px;
    right: 0px;
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
  }

  .mobile-close-btn-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8px;
    height: 8px;
    padding: 0px;
  }

  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
    margin-bottom: 168px;
  }
  .mobile-address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .nav-link {
    padding: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: #404bbf;
  }
  .address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: #404bbf;
  }

  .mobile-icon-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 32px;
  }
  .icon-a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-icon {
    fill: none;
    stroke: white;
    width: 24px;
    height: 24px;
  }
  .icon-a:hover {
    background-color: #31d0aa;
  }
}
/* ========== /Mobile Menu Styles ==========*/

/* ========== Hero Section Styles =========== */
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 72px;
  background-color: #2e2f42;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 432px;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: border-box;
  background-color: rgba(46, 47, 66, 0.7);
}
/* ==== Background Img styles ===== */
@media only screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-image-mobile.jpg);
  }
}
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-image-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-image-tablet.jpg);
    background-size: cover;
    background-origin: border-box;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-imege-tablet@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-image.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-image@2x.jpg);
  }
}
/* ==== /Background Img styles ===== */
@media only screen and (max-width: 767px) {
  .hero-title {
    width: 210px;
    font-size: 36px;
    line-height: 1.11;
  }
  .hero-section {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    gap: 36px;
  }
  .hero-title {
    width: 496px;
  }
  .hero-section {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    gap: 48px;
  }
}

/* ========== /Hero Section Styles =========== */

/* ========== About Us Section Styles ======== */
.about-list-icon {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ul-item-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.ul-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (max-width: 767px) {
  .about-us-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 72px;
    flex-wrap: wrap;
    margin-bottom: 192px;
  }
  .about-us-ul-flex-item {
    width: 83%;
  }
}
@media only screen and (min-width: 768px) {
  .about-us-ul {
    display: flex;
    text-align: left;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .about-us-ul-flex-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .ul-item-title {
    font-size: 20px;
  }
  .about-list-icon {
    display: block;
  }
  .about-us-ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .about-us-ul-flex-item {
    width: calc((100% - 72px) / 4);
  }
  .about-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .about-list-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero-non-pading {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* ========== /About Us Section Styles ======== */

/* ========= Our Team Section Styles =========== */
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 192px;
}
.our-ul-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-ul-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.our-team-ul-flex-item {
  max-height: 428px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.ul-container-team {
  padding-top: 32px;
  padding-bottom: 64px;
  text-align: center;
}
.team-icon-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}
.icon-a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: none;
  stroke: white;
}
.our-team-ul-img {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.icon-a:hover {
  background-color: #31d0aa;
}
@media only screen and (max-width: 767px) {
  .our-team-ul-img {
    flex-direction: column;
    margin-bottom: 192px;
  }
}
@media only screen and (min-width: 768px) {
  .our-team-ul-img {
    flex-wrap: wrap;
    row-gap: 64px;
  }
}
/* ========= /Our Team Section Styles =========== */
/* ========= Our Portfolio Section Styles ========== */
.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 192px;
}
.portfolio-ul-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-ul-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-portfolio-ul {
  display: flex;
}
.our-portfolio-ul-item-flex {
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.over-div {
  position: relative;
  overflow: hidden;
}
.our-portfolio-ul-item-flex:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.ul-container-portfolio {
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: 16px;
}

.banking-overlay {
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 40px 32px 163px 32px;
}
.our-portfolio-ul-item-flex:hover .banking-overlay {
  transform: translateY(0%);
}

@media only screen and (max-width: 767px) {
  .our-portfolio-ul {
    flex-direction: column;
    gap: 48px;
  }
}
@media only screen and (min-width: 768px) {
  .our-portfolio-ul {
    flex-wrap: wrap;
    gap: 24px;
  }
  .our-portfolio-ul-item-flex {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .our-portfolio-ul-item-flex {
    width: calc((100% - 48px) / 3);
  }
  .our-portfolio-ul {
    column-gap: 24px;
    row-gap: 48px;
  }
}

/* ========= /Our Portfolio Section Styles ========== */
/* ========= Footer Styles ============= */
.container-footer {
  background-color: #2e2f42;
  display: flex;
  align-items: center;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
}
.logo-footer-span {
  color: #f4f4fd;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-right: 16px;
  margin-left: 16px;
  text-align: left;
  margin-bottom: 72px;
  max-width: 288px;
}
.icon-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icon {
  color: transparent;
  max-width: 208px;
}
.footer-icon-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  margin-bottom: 72px;
}

.footer-sub-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-sub-input {
  height: 40px;
  width: 264px;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-bottom: 16px;
  margin-right: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sub-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-sub-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.footer-sub-btn {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer-send-icon {
  margin-left: 16px;
}

@media only screen and (max-width: 767px) {
  .logo-footer {
    margin-top: 96px;
  }
  .container-footer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .footer-sub-btn {
    margin-bottom: 96px;
  }
  .footer-sub-input {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container-footer {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: baseline;
    align-items: baseline;
    padding: 96px 108px;
  }
  .text-footer {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .text-footer {
    margin: 0;
    max-width: 263px;
  }
  .footer-icon {
    margin-right: 80px;
  }
  .footer-icon-list {
    margin-bottom: 0px;
  }
  .footer-sub-input {
    margin-bottom: 0px;
  }
  .container-footer {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 100px 15px;
  }

  .footer-sub {
    max-width: 453px;
  }
}
/* ========= /Footer Styles ============= */
/* Backdrop styles */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

/* /Backdrop syles */
/* Modal Styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  height: 623px;
  padding: 72px 24px 488px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
}
.modal-button {
  width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  fill: #2e2f42;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-button:hover,
.modal-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
}

.modal-close-btn-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8px;
  height: 8px;
  padding: 0px;
}

@media only screen and (max-width: 767px) {
  .modal {
    overflow: scroll;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
  }
}

/* /Modal Styles */
/* Rewiew form styles */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-field-label {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.review-form-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.review-form-field-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-coment {
  margin-bottom: 0;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-coment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-coment::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-field-coment:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.review-form-privacy-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked
  + .review-form-privacy-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: 1px solid #404bbf;
}
.review-form-privacy-checkbox:focus
  + .review-form-privacy-label
  .review-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}
.privacy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

/* /rewiew form styles */
